<%- include('./header.ejs') %>
<%- include('./sidebar.ejs') %>
<div class="content-wrapper">
    <!-- Content Header (Page header) --> 
    <div class="card">
        <div class="card-header">
          <h3 class="card-title">Delivered Complaint</h3>
         
        </div>
        
        <!-- /.card-header -->
    
         
        <table id="example1" class="table table-bordered table-striped">
                
          <thead>
            
          <tr>
            <th>Job No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Problem</th>
            <th>Estimated</th>
            <th>Status</th>
            <th>Engineer</th>
      
            
            
          </tr>
          </thead>
          <tbody>
            <% de.forEach(data => { %>
              <tr>
                <td><%= data.jobNumber %></td>
                <td><%= data.name %></td>
                <td><%= data.email %></td>
                <td><%= data.problem %></td>
                <td><%= data.estimated %></td>
                <td><%= data.status %></td>
                <td><%= data.engineer %></td>

               
               
              </tr>
              <% }); %>
          </tbody>
          <tfoot>
          </tfoot>
        </table> 
      
        <!-- /.card-body -->
      </div>
      <!--Modal tag Start -->
      <!-- /.modal -->
      <!-- /.card -->
    </div>
<%- include('./footer.ejs') %>