<%- include('./header.ejs') %> <%- include('./sidebar.ejs') %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Edit Complaint List</h3>
      <button
        data-toggle="modal"
        data-target="#modal-default"
        class="btn btn-success"
        style="float: right"
      >
        Edit Complaint
      </button>
    </div>

    <!-- /.card-header -->
    <div class="card-body"></div>
    <!-- /.card-body -->
  </div>
  <!--Modal tag Start -->
  <div class="modal fade" id="modal-default">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Complaint</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/user/updatecomplaint/<%= d._id %>" method="post">
            <div class="form-group">
              <label>Name</label>
              <input
                type="text"
                name="name"
                value="<%= d.name %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input
                type="number"
                name="phone"
                value="<%= d.phone %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>email</label>
              <input
                type="text"
                name="email"
                value="<%= d.email %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Model</label>
              <input
                type="text"
                name="model"
                value="<%= d.model %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Brand</label>
              <input
                type="text"
                name="brand"
                value="<%= d.brand %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Device</label>
              <input
                type="text"
                name="device"
                value="<%= d.device %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Problem</label>
              <input
                type="text"
                name="problem"
                value="<%= d.problem %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Estimated</label>
              <input
                type="text"
                name="estimated"
                value="<%= d.estimated %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Part Charge</label>
              <input
                type="text"
                name="pcharge"
                value="<%= d.pcharge %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Part Description</label>
              <input
                type="text"
                name="pdescription"
                value="<%= d.pdescription %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Service Charge</label>
              <input
                type="text"
                name="scharge"
                value="<%= d.scharge %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label>Remark</label>
              <input
                type="text"
                name="remark"
                value="<%= d.remark %>"
                class="form-control"
                required
              />
            </div>
            <div class="form-group">
              <label for="">Status</label>
              <select name="status" id="" class="form-control">
                <option value="">Select Status</option>
                <option value="Delivered">Delivered</option>
                <option value="RWR">RWR</option>
                <option value="OK">OK</option>
              </select>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
          </form>
          <!--Form end-->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- /.card -->
</div>
<%- include('./footer.ejs') %>
