<%- include('.//..//header1.ejs') %>

<div class="bill" id="bill">
    <center>
        <h1>PRATEEK MOBILE</h1>
    </center>
    <center>
        <h2>Job Sheet</h2>
    </center>
    <center>
        <p>9755669222</p>
        <p>2nd Floor, Rajeev Plaza, Jayendrganj Gwalior</p>
    </center>
    <hr>  
    Date & Time:&nbsp;<span id="date-time"><%= new Date(d.createdAt).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata', hour12: true }) %></span>  
    <br>
    <span>Job No:</span> &nbsp; &nbsp; &nbsp; <span id="job-number"><%= d.jobNumber %></span> 
    <br>
    <span>Name:</span> &nbsp;<span id="customer-name"><%= d.name %></span>
    <br>
    <span>Phone:</span> &nbsp; &nbsp;<span id="customer-phone"><%= d.phone %></span>
    <br>
    <span>Device:</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="device"><%= d.device %></span>
    <br>
    <span>Model:</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="model"><%= d.model %></span>
    <br>
    <span>Brand:</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="brand"><%= d.brand %></span>
    <br>
    <span>Problem:</span>&nbsp; &nbsp;<span id="problem"><%= d.problem %></span>
    <br>
    <span>Estimated:</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span id="estimated"><%= d.estimated %></span>
    <hr>
    <span>Terms & Conditions</span>
    <p>1. Estimate may change after repair</p>
    <p>2. No responsibility for data loss</p>
    <p>3. No responsibility for unclaimed repaired devices after <b>30 Days</b></p>
    <p>4. Warranty on screen replacement is only for touch-related issues. Other issues like discoloration or screen lines will not be covered under warranty.</p>
    <p>5. All subject to Gwalior jurisdiction</p>

</div>
   <!-- WhatsApp Button -->
   <a id="whatsapp-link" href="#" class="btn btn-success" target="_blank">
    <span class="material-symbols-outlined fs-6">share</span> Send Bill via WhatsApp
</a> 

<button onclick="printBill()">Print Bill</button>
<%- include('..//footer1.ejs')%>